/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: blueviolet;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: rgb(34, 33, 33);
  margin-top: 20px;
  margin-bottom: 20px;
}

video {
  display: block;
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  border: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
